      <!-- Content Row-->
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Post Graduate Program In Cloud Computing</h2>
                    <p class="card-text">Become an Expert with this Caltech Cloud Computing Course.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-cloud-computing-certification-training-course">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Data Science Career Bootcamp</h2>
                    <p class="card-text">Unlock your career potential with our Data Science Career Bootcamp. <br>
                        Get the ultimate boost for your career with world-class skills and career-readiness training in one power-packed program.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/data-science-course-placement-guarantee">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Full Stack Java Developer</h2>
                    <p class="card-text">The Full Stack Java Developer Program is an intense bootcamp offering a complete suite of software development skills.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/java-full-stack-developer-certification-training-course">More Info</a></div>
            </div>

        </div>
    </div>
    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
    <video width="320" height="240" controls style="align-content: center;">
        <source src="https://youtu.be/5j76G8MoU0c" type="video/mp4">
      Your browser does not support the video tag.
      </video>
        </div></div>
<div class="card-body" id="youtube">
 <p class="text-white m-o" style="font-size:x-large; text-align:center;">
<a href="https://youtu.be/VDF2QbDNslw"><img class="img-fluid rounded mb-4 mb-lg-0" src="youtube-logo-png-31792.png" width="150px" height="150px"></a></p>
<br><h4>Check out our youtube channel for technical videos and Tutorials</h4>
</div>
